<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/pages.css">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chathura:wght@100&family=Italiana&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="info-title" >Personal information</h1>
 <div class="edit-session">
    
    <form class="form-container">
        <ul class="ul-edit">
          <div class="user-info">
          <li class="li-edit">Name: <%=currentUser.name %></li> 
          <li>Phone: <%=currentUser.phone %></li>
          <li>Email: <%=currentUser.email %></li>
          <li>Password: ********</li>
          </div>
        </ul> 
      </form>
    <a  class="edit-btn" href="/sessions/edit">Edit</a> <br>
    
    <div class="buttons">
    <a href="/sessions/myplan">MY TRIP PLAN</a> <br>
    <a href="/sessions/plan">CREATE A TRIP PLAN</a>
  </div>

</div>
</body>
</html>