<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/pages.css">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chathura:wght@100&family=Italiana&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <nav>
        <a href="/cities">HOME</a>
        <a href="https://www.fifa.com/fifaplus/en/home">FIFA World Cup 2026™</a>
        <a href="https://www.fifa.com/fifaplus/en/tickets">TICKETS</a>
        <a href="/sessions/account">MY ACCOUNT</a> 
        <a href="/sessions/logout">LOGOUT</a> 
     </nav>   

    <h1>Personal information</h1>
   <ul>
    Name: <li><%=currentUser.name %></li> 
    Phone: <li><%=currentUser.phone %></li>
    Email: <li><%=currentUser.email %></li>
    Password: <li>********</li>
   </ul> 
    <a href="/sessions/edit">Edit</a>

</body>
</html>