<!DOCTYPE html>
<html>
<head>
    <title>Host Cities</title>
</head>
<body>
    <h1>Host Cities</h1>
    <% cities.forEach(city => { %>
        <h2><%= city.city %></h2>
        <ul>
            <% city.mustSee.forEach(mustSee => { %>
                <li><%= mustSee.name %></li>
            <% }); %>
        </ul>
    <% }); %>
</body>
</html>
