<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/pages.css">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chathura:wght@100&family=Italiana&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    

     <h1>MEXICO</h1>
     <nav class="cities"><% cities.forEach(city => { %>
         <% if (city.country === "Mexico") { %>
          <ul>
             
             <li><a href="/us"><%=city.city%></a></li>
          </ul>
             
         <% } %>  
             
         <% }); %>
 </nav>
 <footer >
    <a href="/cities/can">CANADA</a>
    <a href="/cities/us">UNITED STATES</a>
</footer>
</body>
</html>