<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/cities">HOME</a>
        <a href="https://www.fifa.com/fifaplus/en/home">FIFA World Cup 2026™</a>
        <a href="https://www.fifa.com/fifaplus/en/tickets">TICKETS</a>
        <a href="/sessions/account">MY ACCOUNT</a> 
        <a href="/sessions/logout">LOGOUT</a> 
     </nav>   

    <h2>Mexico</h2>
        <% cities.forEach(city => { %>
        <% if (city.country === "Mexico") { %>
            <a href="/mex"><%=city.city%></a>
        <% } %>
   
        <% }); %>

</body>
</html>