<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MY TRIP PLAN</h1>
    <ul>
        <% plans.forEach(plan =>{ %>
        <h2><%=plan.city%></h2>
        <h3><%=plan.todo%></h3>
        <h3><%=plan.comments%></h3>

        <% }) %>
    </ul>
</body>
</html>