* {
    margin: 0;
    padding: 0;
}

body{
margin: 0;
padding: 0;
height: 100%;
box-sizing: border-box ;
position: relative;
}

.container {
position: relative;
}

a {
    color: rgb(248, 249, 247);
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    position: absolute;
    top:10px;
    gap:30px;
    left:1000px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;    
}

.nav-branding {
    font-size: 2rem;
    
}

.nav-link {
    transition: 0.7s ease ;
    
}

.nav-link:hover {
    color: rgb(214, 233, 15);
}

.ball-flex {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    
    
}
    

h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 100px;
    margin-bottom: 50px;
    
}
h3 {
    font-family:'Mandali', sans-serif ;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 50px;
}

.about {
    margin-top: 50px;
}

p {
    text-align: center;
    color: rgb(47, 40, 186);
    margin-bottom:  10px;
    
}

.country-flex {
    display: flex;
  flex-direction: column;

}

.cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-bottom:200px;
    height: 300px;
}


.cities-list {
line-height: 30px;
font-size: 100px;
margin-top: 20px ;

}
.cities a {
    color:blue;
    width: 500px;
   
}

.city-flex {
    display: flex;
    flex-direction: column;
}

.city-detail {
    text-align: center;
    
    
}

.city-must-see{

}

.city-title {
    align-items: center;
    background-color: rgba(128, 255, 0, 0.855);
    margin-top: 15px;
}

.city-picture {
    width: 600px;
    height: 400px;
    margin-left:700px;
    margin-bottom: 50px;
}

h2 {
    border: 1px solid #09df29; /* Adds a 1px solid border with black color */
    width: 400px;
    margin-left: 800px;
   
  }

  .city-name {
    text-shadow: 3px 3px 6px rgba(9, 210, 46, 0.5);
  }

  .city-must-see {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to new rows */
    justify-content: space-between; /* Space items evenly along the main axis */
  }
  
  .city-must-see li {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    
  }

  .city-must-see a{
    color: darkblue;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-left: 700px;
  
  }

  .see-title {
    font-size: 30px;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    width: 600px;
    margin-left: 700px;
    text-align: center;
  }

  .country-name {
    text-shadow: 3px 3px 6px rgba(9, 210, 46, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;
  }

  footer {
    background-color: #09df29;
  }

  footer a {
    margin-left: 600px;
    font-size: 50px;
  }

  .city-picture-must-see {
    width: 300px;
    margin: 0;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-left:700px;
    width: 600px;

  }

  .see-p {
    margin-left:700px;
  }

  .edit-btn {
    color: #09df29;
    font-size: 30px;
    padding-top: 20px;
  }

  .edit-session {
    align-items: center;
    margin-left: 700px;
  }

  .form-container {
    width: 300px; 
   
    border: 1px solid #000;
    padding: 20px; 
  }

 
  form {
    padding: 0;
    margin: 0;
  }

  
  .ul-edit {
    list-style-type: none; 
    padding: 0;
    margin: 0;
  }

  
  .li-edit {
    margin-bottom: 10px; 
    font-size: 30px;
    color: rgb(6, 96, 33);
    text-transform: uppercase;
    text-align: center;
  }

.edit-info {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    gap: 100px;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: darkgreen;
    width: 800px;
}

.user-info {
    font-family: 'Bebas Neue', cursive;
    color: #2509df;
    font-size: 20px;
    line-height: 30px;
}
  .edit-form input {
    width: 200px;
    height: 40px;
   margin: 10px;
   text-align: center;
   border-radius: 30px;
   
  }

  .form-container {
    width: 600px;
  }

  .password-form input {
    width: 200px;
    height: 40px;
   margin: 10px;
   text-align: center;
   border-radius: 30px;

   

  }

  

  .edit-btn-type {
    background-color: #09df29;
    border: none;
    margin-left: 100px;
    position: absolute;
    left: 550px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }

  .password-btn-type {
    background-color: #09df29;
    border: none;
    margin-left: 100px;
    position: absolute;
    left: 980px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }

  .info-title {
    color: white;
    text-shadow:  2px 1px 1px rgb(8, 55, 209);
    background-color: #09df29;
  }


  .plan-page-btn a {
    color: #a2df09;
    margin-left: 400px;
    padding: 10px;
    display: inline;
    top:500px;
    gap:50px;
    

    gap: 60px;
    display: flex;
    flex-direction: column;
  }

  .plan-form input {
    width: 300px;
    padding: 10px;
  }

  /* //delete btn  */
  .plan-submit {
    color:#df5409;
    background-color: white;
    margin-left: 400px;
  }

  .plan-name {
    text-shadow: 3px 3px 6px rgba(9, 210, 46, 0.5);
 position: absolute;
 margin-top: 300px;
    margin-bottom: 200px;
    margin-left: 800px;
    padding-bottom: 200px;
  }

  .plan-show {
    position: absolute;
    margin-top: 200px;
    text-align: center;
  }

  .plan-name-show {
    text-shadow: 3px 3px 6px rgba(9, 210, 46, 0.5);
 position: absolute;
 /* margin-top: 100px; */
    margin-bottom: 200px;
    margin-left: 800px;
    padding-bottom: 200px;
  }

  .buttons a {
    color:blue ;
    gap: 30px;
  }