* {
    margin: 0;
    padding: 0;
}

body{
margin: 0;
padding: 0;
height: 100%;
box-sizing: border-box ;
position: relative;
}

.container {
position: relative;
}

a {
    color: rgb(248, 249, 247);
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    position: absolute;
    top:10px;
    gap:30px;
    left:1000px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;    
}

.nav-branding {
    font-size: 2rem;
    
}

.nav-link {
    transition: 0.7s ease ;
    
}

.nav-link:hover {
    color: rgb(214, 233, 15);
}

.ball-flex {
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    
    
}
    

h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 100px;
    margin-bottom: 50px;
    
}
h3 {
    font-family:'Mandali', sans-serif ;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    text-align: justify;
    margin-bottom: 50px;
}

.about {
    margin-top: 50px;
}

p {
    text-align: center;
    color: rgb(47, 40, 186);
    margin-bottom:  10px;
    
}

.country-flex {
    display: flex;
  flex-direction: column;

}

.cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-bottom:200px;
    height: 300px;
}


.cities-list {
line-height: 30px;
font-size: 100px;
margin-top: 20px ;

}
.cities a {
    color:blue;
    width: 500px;
   
}

.city-flex {
    display: flex;
    flex-direction: column;
}

.city-detail {
    text-align: center;
    
    
}

.city-must-see{

}

.city-title {
    align-items: center;
    background-color: rgba(128, 255, 0, 0.855);
    margin-top: 15px;
}

.city-picture {
    width: 600px;
    height: 400px;
    margin-left:700px;
    margin-bottom: 50px;
}

h2 {
    border: 1px solid #09df29; /* Adds a 1px solid border with black color */
    width: 400px;
    margin-left: 800px;
   
  }

  .city-name {
    text-shadow: 3px 3px 6px rgba(9, 210, 46, 0.5);
  }

  .city-must-see {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to new rows */
    justify-content: space-between; /* Space items evenly along the main axis */
  }
  
  .city-must-see li {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    
  }

  .city-must-see a{
    color: darkblue;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-left: 700px;
  
  }

  .see-title {
    font-size: 30px;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    width: 600px;
    margin-left: 700px;
    text-align: center;
  }

  .country-name {
    text-shadow: 3px 3px 6px rgba(9, 210, 46, 0.5);
    margin-top: 10px;
    margin-bottom: 20px;
  }

  footer {
    background-color: #09df29;
  }

  footer a {
    margin-left: 600px;
    font-size: 50px;
  }

  .city-picture-must-see {
    width: 300px;
    margin: 0;
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-left:700px;
    width: 600px;

  }

  .see-p {
    margin-left:700px;
  }