
html {
  padding: 0;
  margin: 0;
height: 100%;
  box-sizing: border-box ;
}

header {
    background: white;
}

li {
    list-style: none;
}

a {
    color: rgb(248, 249, 247);
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    float: right;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;

}

.nav-link {
    transition: 0.7s ease ;
}

.nav-link:hover {
    color: rgb(214, 233, 15);
}

.hamburger {
    display: none ;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.banner img {
   max-width: 2050px;
   /* border-bottom-left-radius: 10%; */
   border-bottom-right-radius: 20%;
   border-top-left-radius: 20%;
}

.intro {
    
    display: grid;
    box-sizing: border-box;
    width: 100%;
    float: right;
    text-align: right;
}

.intro-title {
    display: inline;
    align-items: right;
    font-family: 'Bebas Neue', cursive;
   font-weight: 200;
    font-size: 55px;
    margin-right: 70px;
  
    color: rgb(246, 241, 241) ;
    height: 200px;
    float: right;
    
}
.intro-text {
font-family:'Mandali', sans-serif ;
font-size: 16px;
text-align: right;
color: whitesmoke;
padding-left: 1300px;
padding-right: 100px;
text-align: justify;

}
.intro-sub {
    font-family:'Mandali', sans-serif ;
    color: whitesmoke;
    position: absolute;
    top: 150px;
    right: 50px;
    margin: 20px;
    padding-left: 100px;
}

.intro img {
    max-width: 400px;
    float: right;
}
body {
    margin: 0;
    position: relative;
    background-color: white;
    background-image: url("/public/images/dreamstime_l_136805601.jpg");
    background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  
  
    height: 100%;
}


.custom-shape-divider-bottom-1681236526 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681236526 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 91px;
}

.custom-shape-divider-bottom-1681236526 .shape-fill {
    fill: #A1C6EB63;
}

.countries {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 24px;
    float: right;
    gap: 60px;

}

.country-link {
    gap: 60px;
    color: aqua;
}
@media(max-width:768px){
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    hamburger.active .bar:nth-child(3){
        transform: translateY(8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
left:0;
    }
.banner img {
    width: 530px;
}

}