
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
}

header {
    background: rgb(199, 219, 51);
}

li {
    list-style: none;
}

a {
    color: rgb(7, 199, 61);
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;

}

.nav-link {
    transition: 0.7s ease ;
}

.nav-link:hover {
    color: white;
}

.hamburger {
    display: none ;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.banner img {
   max-width: 2050px;
   /* border-bottom-left-radius: 10%; */
   border-bottom-right-radius: 20%;
   border-top-left-radius: 20%;
}

.intro {
    
    display: grid;
    box-sizing: border-box;
    width: 100%;
    
    
    text-align: center;
}

.intro-title {
    display: inline;
    align-items: center;
    font-family:'Mandali', sans-serif ;
    font-size: 26px;
    background-color: rgb(199, 219, 51);
    color: black ;
    height: 200px;
    
}
.intro-text {
font-family:'Mandali', sans-serif ;
font-size: 16px;
text-align: center;
}


.intro img {
    max-width: 400px;
    float: right;
}
body {
    margin: 0;
    position: relative;
    background-color: rgb(199, 219, 51);
}

@media(max-width:768px){
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    hamburger.active .bar:nth-child(3){
        transform: translateY(8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap:0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
left:0;
    }
.banner img {
    width: 530px;
}

}