body {
    background: hsla(209, 94%, 37%, 1);

    background: linear-gradient(90deg, hsla(209, 94%, 37%, 1) 0%, hsla(209, 97%, 35%, 1) 14%, hsla(209, 98%, 33%, 1) 29%, hsla(210, 97%, 31%, 1) 43%, hsla(212, 97%, 29%, 1) 59%, hsla(213, 98%, 26%, 1) 73%, hsla(211, 84%, 23%, 1) 88%, hsla(220, 69%, 28%, 1) 100%);
    
    margin: 0;
    position: relative;
}

h1{
    color:#B9BABA;
  
}
.top-menu {
    background-color: rgb(31,72,144);
   
}

.top-menu a{
  
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
    
}
.top-menu a:hover {
    background-color: #ddd;
    color: black;
  }

.banner {
    width: 2050px;
}

.banner > img {
    width: 100%;
}

.container {
 position: absolute;
  margin: 20px;
  width: auto;
}

@media screen and (max-width: 390px) 
{ 
    body {
        margin-left:0;
    }
.banner {
    width: 390px
}    

/* Place the top-menu at the bottom of the page, and make it stick */
.top-menu {
    background: #917C09;
    overflow: hidden;
    position: fixed ;
    bottom: 0;
    width: 100%;
 
    
  }
  
  /* Style the links inside the navigation bar */
  .top-menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    

    
  }
  
  /* Change the color of links on hover */
  .top-menu a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .top-menu a.active {
    background-color: #04AA6D;
    color: white;

  }
  
}